.pokemon{
    margin-top: 2rem;
    flex-basis: 20%;
    height:200px;
    width:300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    transition: 0.25s;
}
.pokemon-name{
    font-size: larger;
    letter-spacing: 0.25rem;
}
.pokemon-img{
    margin-top: 1rem;
    height: 150px;
    max-height: 80%;
}
.pokemon:hover{
    background-color: antiquewhite;
}