.outer-pokedex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pokedox-heading{
    margin:0 auto;
    color:black;
    
}

a:visited{
    letter-spacing: 5px;
    text-decoration: none;
}